@import "../fonts/Exo/stylesheet.css"screen;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mountain{
    background-color: rgb(157,215,106);
    /* position: absolute; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.video{
    position: relative;
    z-index: 1;
    display: block;
}

.text{
    width: 690px;
    height: 137px;
    color: #282828;
    font-family: 'Exo-Thin';
    font-size: 58px;
    font-weight: 400;
    line-height: 73.02px;
    letter-spacing: 2.4px;
    z-index: 2;
}


.text_design{
    width: 118px;
    height: 15px;
    color: #ff6d6d;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 48.68px;
    text-transform: uppercase;
    letter-spacing: 3.2px;}

.text-main{
    width: 520px;
    height: 92px;
    color: #282828;
    font-family: Exo;
    font-size: 39px;
    font-weight: 500;
    line-height: 48.68px;
    letter-spacing: 1.6px;
    color: #282828;
    letter-spacing: 1.6px;
}

.text{
    width: 558px;
    height: 196px;
    opacity: 0.66;
    color: #282828;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.31px;
    letter-spacing: 0.64px;
}

span{
    color: #ff6d6d;
}

.right{
    position: relative;
}

.photo{
    width: 537px;
    height: 688px;
    z-index: 1;
    background-image: url(../img/man.jpg);
    background-repeat: no-repeat;
}

.tr-field {
    width: 551px;
    height: 706px;
    background-color: #ff6d6d;
    opacity: 0.8;
    z-index: 2;
  }

.section3{
    background-color: #f6f5f3;
}

.section5{
    background-image: url(../img/Group_4.png);
}

.section6{
    background-color: #f6f5f3;
}

.section7{
    background-color: #323969;
}

.span2{
    color:white;
    width: 42px;
    height: 46px;
    background-image: url(../img/Polygon_1.svg);
}