@import "../fonts/Exo/Exo-Thin.ttf";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
background-size: cover;
background-position: center;
background-color: rgb(157,215,106);
background-image: url(../img/photo1.jpg);
height: 100vh;
background-repeat: no-repeat;
}

.row{
    align-self: center;
}
.col-8 text{
    height: 10em;
}

.text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   }

