@import "../fonts/Exo/stylesheet.css"screen;

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mountain{
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.section1{
    position: relative;
    margin: 0;
    padding: 0;
}

.back_video{
    width: 100%;
    margin-top: -15px;
    margin-bottom: -6px;
}

.header_button{
    width: 186px;
    height: 50px;
    position: absolute;
    bottom: 230px;
    z-index: 2;
    margin-left: -100px;
}

.man1{
    padding-left: 144px;
    padding-right: 147px;
    
}

.text_design{
    color: #ff6d6d;
    font-family: "Exo-Regular";
    font-size: 16px;
    font-weight: bold;
}

.text_main{
    color: #282828;
    font-family: "Exo-Regular";
    font-size: 39px;
    font-weight: 500;
}

.text_content{
    color: #282828;
    opacity: 0.66;
    font-family: "Exo-Regular";
    font-size: 16px;
    font-weight: 500;
}

span{
    color: #ff6d6d;
} 

.man2{
    padding-right: 0px;
}

.image{
    position: relative;
    z-index: 2;
    display: block;
}

.rectangle{
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    top: 220px;
}

.section3{
    background-color: #f6f5f3;
}

.pen{
    padding-right: 114px;
    padding-left: 95px;
}

.ears{
    padding-left: 157px;
}

.text3{
    padding-top: 134px;
}

.pins{
    padding-bottom: 29px;
}

.image-cup{
    margin-top: 66px;
}

.cup{
    width: 229px;    
}

.mac{
    background-image: url(../img/rectangle5.jpg);
    background-repeat: no-repeat;
    height: 534px;
}

.section4{
    padding-top: 90px;
    padding-bottom: 97px;
    padding-left: 70px;
}

.t3{
    padding-top: 33px;
    width: 480px;
    height: 96px;
    opacity: 0.66;
    color: #282828;
}

.section5{
    background-image: url(../img/Group_4.png);
    background-repeat:no-repeat;    
    background-position:center;
    background-size: cover;
    background-color: black;
}

.men1{
    padding-top: 108px;
}

.nikname{
    padding-top: 23px;
}

.name{
    color: #ffffff;
    font-family: "Exo-Regular";
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.job{
    height: 15px;
    color: #ff6d6d;
    font-family: "Exo-Regular";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.text_grey{
    opacity: 0.66;
    color: #ffffff;
    font-family: "Exo-Italic";
    font-size: 16px;
    font-weight: 400;   
    text-align: center;
    padding-top: 34px;
}

.five{
    padding-left: 15px;
    padding-top: 92px;
    padding-bottom: 79px;
}

.section6{
    background-color: #f6f5f3;
}

.view{
    padding-top: 105px;
}

.sec6{
    padding-top: 45px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 88px;
}

.section7{
    background-color: #323969;
}

.words{
    padding-top: 94px;
}

.color_word{
    color: #ffffff;
    font-family: "Exo-Regular";
    font-size: 39px;
    font-weight: 500;
}

.stock{
    padding-top: 34px;
    padding-right: 174px;
    padding-left: 70px;
    
}

.forms{
    padding-top: 16px;
    padding-bottom: 49px;
}

.form1{
    width: 257px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    background-color: #f6f5f3;
    opacity: 0.5;
    color: #f6f5f3;
    font-family: "Exo-Regular";
    padding-left: 20px;
}

.form2{
    width: 257px;   
    height: 49px;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    border-radius: 3px;
} 

.end{
    opacity: 0.6;
    color: #f6f5f3;
    font-family: "Exo-Thin";
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 82px;
}

.span3:hover{
    opacity: 0.6;
    color: #f6f5f3;
    font-family: "Exo-Thin";
    font-size: 16px;
    text-decoration: underline;
}

.info{
    background-image: url(../img/rectangle2.png);
    background-repeat: no-repeat;
    height: 325px;
    background-position: right;
}

.section8{
    padding-top: 92px;  
}

.h1{
    color: #2c2f49;
    font-family: "Exo-Regular";
    font-size: 26px;
    font-weight: 400;
}

.ex{
    padding-left: 5px;
}

.lastrow{
    padding-top: 21px;
}

.link{
    color: #2c2f49;
    font-family: "Exo-Regular";
}

.lastrow2{
    padding-top: 29px;
}

.f_icon{
    letter-spacing: 25px;;
}

